<%= render 'layouts/menubar' %>

<div class='scroll white bold'>
	<ul>
		<% @histories.each do |history| %>
		<li style='margin-top:50px;'>
			
			<% if history.route.image.present? %>
				<%= image_tag history.route.image_url, style: 'width: 100px' %>

		<% end %>

				<%= link_to history.user.name, user_path(history.user.name) %>
				Ride Trip <%= history.route.name %>
				from <%= link_to history.route.start_location.name, location_path(history.route.start_location) %>
				to <%= link_to history.route.end_location.name, location_path(history.route.end_location) %>
				with distance <%= distance_to(history.route.start_location, history.route.end_location) %> KM
	   </li>
		<% end %>
	</ul>
</div>

<div class='span3 explore '>
		<%= link_to 'All Locations', locations_path, class:"btn btn-large btn-block btn-primary s-blue" %>

		<h6 class='white explore-text'>Tap Above to Show All !</h6>
	</div>
	
<h6 class='white logo-margin'><em>Biker's Trip</em></h6>


