<div class='row'>
	<div class='span12'>
		<%= render 'layouts/menubar' %>
	</div>
</div>

	<div class='span12 menubar'>
		<%= image_tag @user.image_url, class: 'img-polaroid image' %>
		<table class='white bold'>
			<tr>
				<td>Name</td>
				<td> : </td>
				<td><%= @user.name %></td>
			</tr>

			<tr>
			<td>Email</td>
			<td> : </td>
			<td><%= @user.email %></td>
			</tr>

			<tr>
			<td>Gender</td>
			<td> : </td>
			<td><%= @user.gender %></td>
			</tr>  

			<tr>
			<td>Location</td>
			<td> : </td>
			<td><%= @user.location %></td>
			</tr> 

			<tr>
			<td>Member Since</td>
			<td> : </td>
			<td><%= @user.created_at.strftime('%d %B %Y') %></td>
			</tr>   
		</table>

	</div>


</div>

<div class='row'>
	<div class='span12'>
		<center>
			<%= link_to 'My Settings', settings_path, class:"btn btn-large s-white" %>

		</center>
	</div>
</div>

<div class='row'>
<div class='span6 menubar2'>
	<center>
		<%= link_to 'Friends', friends_path, class:"btn btn-large btn-info s-sky-blue" %>
		
		</center>
	</div>


<div class='span6 menubar2'>
	<center>
		<%= link_to 'Photos', user_photos_path(@user), class:"btn btn-large btn-primary s-blue" %>
		</center>
	</div>
	</div>

	<div class='row'>
	<div class='span12'>
		<center>
			<%= link_to 'History', histories_path, class:"btn btn-large  btn-primary s-blue" %>

		</center>
	</div>
</div>

<h6 class='white logousers'><em>Biker's Trip</em></h6>