<div class='row'>
	<div class='span12'>
		<%= render 'layouts/menubar' %>
	</div>
</div>

<div>
	<div class='span12 menubar' style='marign-right:50px;'>
		<%= image_tag @user.image_url, class: 'img-polaroid image' %>
		<p class='white'>
			Name    : <%= @user.name %> <br>
			Email   : <%= @user.email %> <br>
			Gender  : <%= @user.gender %> <br>
			Location: <%= @user.location %> <br> 
		</p>

	</div>


</div>

<div class='row'>
	<div class='span12'>
		<center>
			<%= link_to 'My Settings', settings_path, class:"btn btn-large btn" %>

		</center>
	</div>
</div>

<div class='row'>
<div class='span6 menubar2'>
	<center>
		<%= link_to 'Friends', friends_path, class:"btn btn-large btn-info" %>
		
		</center>
	</div>


<div class='span6 menubar2'>
	<center>
		<%= link_to 'Photos', photos_path, class:"btn btn-large btn-primary" %>
		</center>
	</div>
	</div>

	<div class='row'>
	<div class='span12'>
		<center>
			<%= link_to 'History', histories_path, class:"btn btn-large  btn-primary" %>

		</center>
	</div>
</div>

<h6 class='white logousers'><em>Biker's Trip</em></h6>