<h1 class='text-center' style='border:2px solid; background-color:red; color:White;'><em>Biker's Trip</em></h1>
<div class='row-fluid'>

	<div class='span3' style='margin-top:20px;'>

	<%= link_to 'News Feed', main_index_path, class:"btn btn-large btn-block btn-info" %>

		</div>
		<div class='span3' style='margin-top:20px;'>
			<%= link_to 'Lets Ride', new_route_path, class:"btn btn-large btn-block btn-success" %>
		</div>
	 <div class='span3' style='margin-top:20px;'>
	 	<%= link_to 'User', '#', class:"btn btn-large btn-block btn-primary disabled" %>
	 </div>
	<div class='span3' style='margin-top:20px;'>
		<%= link_to 'Log out', destroy_user_session_path, class:"btn btn-large btn-block btn-danger", method: :delete %>
	</div>
</div>

<div class='row-fluid'>
	<div class='span12' style='margin-top:20px;'>
		<%= image_tag '/assets/profile.jpg', class: 'img-polaroid', style: 'width:200px; float: left; margin-right: 20px;' %>
		<p style='color:White;'>
			Name    : Robin Haldane <br>
			Address : Medford, Oregon United States <br>
			Gender  : Male 
		</p>

	</div>


</div>

<div class='row'>
	<div class='span12'>
		<center>
			<%= link_to 'My Settings', settings_path, class:"btn btn-large btn" %>

		</center>
	</div>
</div>

<div class='row'>
<div class='span6' style='margin-top:80px;'>
	<center>
		<%= link_to 'Friends', friends_path, class:"btn btn-large btn-info" %>
		
		</center>
	</div>


<div class='span6' style='margin-top:80px;'>
	<center>
		<%= link_to 'Photos', photos_path, class:"btn btn-large btn-primary" %>
		</center>
	</div>
	</div>

	<div class='row'>
	<div class='span12'>
		<center>
			<%= link_to 'History', new_route_path, class:"btn btn-large  btn-primary" %>

		</center>
	</div>
</div>