<h1 class='white'>History Info<h1>

<div class='row-fluid'>
	<div class='span12 top'>
		<%= image_tag @user.image_url, class: 'img-polaroid imgset' %>
		<p class='white font'>
			Name    : <%= @user.name %> <br>
			Email   : <%= @user.email %> <br>
			Gender  : <%= @user.gender %> <br>
			Location: <%= @user.location %> <br> 
		</p>
	</div>

	<table class="table tableset">
 <tr>
	<td>First Check-in</td>
	<td>Last Check-in</td>
	<td>Total Check-in</td>
	<td>Member Since</td>
 </tr>
 <tr>
	<td>Jln. Swadaya 1, Bintaro Jaya</td>
	<td>Bina Nusantara, Campus anggrek</td>
	<td>20 Times</td>
	<td>10 March 2010</td>
 </tr>
</table>



	<ul>
		<% @histories.each do |history| %> class='white'
		<li>
			<%= link_to histories.name, histories_path(histories) %>

			<%= link_to 'Edit', edit_history_path(history) %> |
			<%= link_to 'Delete', history_path(history), method: :Delete %>

		</li>
		<% end %>
	</ul>

			<div class='row '>
			<div class='span12'>
				<div class='back-my-settings'>
				
					<%= link_to '<< Back To User', user_path(current_user), class:"btn btn-large btn" %>
			</div>
		</div>
	</div>

