<h1 class='white'>History Info<h1>

<div class='row-fluid'>
	<div class='span12 top bold', style='margin-bottom:20px;'>
		<%= image_tag @user.image_url, class: 'img-polaroid imgset' %>
		<p class='white font'>
			Name    : <%= @user.name %> <br>
			Email   : <%= @user.email %> <br>
			Gender  : <%= @user.gender %> <br>
			Location: <%= @user.location %> <br> 
			Member Since :<%= @user.created_at.strftime('%d %B %Y') %>
		</p>
	</div>

	<div class='scroll white bold'>
	<table class="table tableset scroll bold">
 <tr>
	<td>First Check-in</td>
	<td>Last Check-in</td>
	<td>Distance</td>
	<td>Checked in At</td>
 </tr>
 
	<% @user.histories.each do |history| %>

		<tr>
			<td>
			<%=link_to history.route.start_location.name, location_path(history.route.start_location) %>
			</td>

			<td><%=link_to history.route.end_location.name, location_path(history.route.end_location) %>
			</td>

			<td><%= distance_to(history.route.start_location, history.route.end_location) %> KM
			</td>

			<td><%= history.created_at.strftime('%d %B %Y') %></td>
			</tr>
			<% end %>
		</div>
	</table>
</div>


<div class='row'>
	<div class='span12'>
		<div class='back-to-user'>
				
		<%= link_to '<< Back To User', user_path(current_user), class:"btn btn-large btn-success s-green" %>

		</div>
	</div>
</div>

