<h1 class='white'><em>Settings</em></h1>
<%= render 'layouts/menubar' %>

<div class='row'>
<div class='span12 about' >
		<%= link_to 'About', about_index_path, class:"btn btn-large btn-info" %>
	</div>
</div>

<div class='row'>
<div class='span12 find-friend'>
		<%= link_to 'Find Friends', find_index_path, class:"btn btn-large btn-info" %>
	</div>
</div>

<div class='row'>
<div class='span12 edit-profile'>
		<%= link_to 'Edit Profile', edit_profile_path(current_user), class:"btn btn-large btn-info" %>
	</div>
</div>

<div class='row'>
<div class='span12 edit-profile'>
		<%= link_to 'Friend Request', requests_friends_path, class:"btn btn-large btn-info" %>
	</div>
</div>

<h6 class='logosettings'><em>Biker's Trip</em></h6>