<div class='row-fluid'>

	<div class='span3' style='margin-top:20px;'>

<%= link_to 'News Feed', main_index_path, class:"btn btn-large btn-block btn-info" %>

</div>
		<div class='span3' style='margin-top:20px;'>
			<%= link_to 'Lets Ride', new_route_path, class:"btn btn-large btn-block btn-success" %>
		</div>
	 <div class='span3' style='margin-top:20px;'>
	 	<%= link_to 'User', user_path(1), class:"btn btn-large btn-block btn-primary" %>
	 </div>
	<div class='span3' style='margin-top:20px;'>
		<%= link_to 'Log out', destroy_user_session_path, class:"btn btn-large btn-block btn-danger", method: :delete %>
	</div>
</div>

<ul class='thumbnails' style='margin-top:50px;' >
	<% 1.upto(6) do |i| %>
  <li class="span4">
    
  	<%= link_to asset_path("/assets/view#{i}.jpg"), class: 'thumbnail' do %>
  		<%= image_tag "/assets/view#{i}.jpg", style: 'width:200px; height:200px;' %>
  	<% end %>
  </li>
   <% end %>
</ul>

<h6 style='color:White; margin-top:400px;'><em>Biker's Trip</em></h6>