<h1 class='white'> <%= @location.name %> </h1>

<p class='white'>
	Latitude  : <%= @location.latitude %> <br>
	Longitude : <%= @location.longitude %><br>
	Category  : <%= @location.category.name %><br>
	Regional  : <%= @location.regional.name %>
</p>

<%= link_to '<< Back to User', user_path(current_user) %>