<div class='row-fluid'>
	<div class='menubar-container'>
		<nav>

<!DOCTYPE html>
<html lang="en" class="no-js">
	
			<section class="color-5">
				<nav class="cl-effect-5">
					</a>
					<%= link_to main_index_path do %>
						<span data-hover='News Feed'>News Feed</span>
					<% end -%>

					<%= link_to new_route_path do %>
						<span data-hover='Lets Ride'>Let's ride</span>
					<% end -%>

					<%= link_to user_path(current_user) do %>
						<span data-hover='User'>User</span>
					<% end -%>

					<%= link_to about_index_path do %>
						<span data-hover='About Us'>About Us</span>
					<% end -%>

					<%= link_to destroy_user_session_path, method: :delete do %>
						<span data-hover='Exit'>Exit</span>
					<% end -%>
				</nav>
			</section>
		</nav>
	</div>
</div>

